body {
    overflow: hidden;
    background-image: url("../images/bg.jpg");
}
html, body {
    height: 100%;
    scroll-behavior: smooth; /* Pehmeä vieritys */
}

body h1 {
    font-family: 'Abril Fatface', serif !important;
}
body p, body ul {
    font-size: 15px;
    font-family: Poppins, sans-serif;
}

.flex-parent-element {
    display: flex;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 95vh;
    box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
}

.flex-child-element {
    flex: 1;
    margin: 0px;
    overflow: auto;
    height: 100%;
}
.flex-child-element:first-child {
    margin-right: 0px;
}
.right {
    background: #ffd1ea;
    z-index: 21;
    position: relative;
}
.left {
    display: grid;
    overflow: hidden;
    position: relative;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav1 {
    float: right;
}
.nav1 a {
    display: block;
    color: #52002c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}
.nav1 a:hover {
    background-color: #ff8ac9;
}
.active {
    background-color: #ff8ac9;
}

.introduction {
    max-width: 60%;
    margin: auto;
    padding-top: 50px;
}

/* Ankkurilinkkien ulkoasu */
.introduction a[href^="#"] {
    color: #52002c;
    text-decoration: none;
    font-weight: bold;
}
.introduction a[href^="#"]:hover {
    color: #ff8ac9;
    text-decoration: underline;
}

.context, .area {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
}
.context {
    z-index: 20;
}
.context h1 {
    color: #fff;
    font-size: 50px;
}

.area {
    background: #ff8ac9;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}
.circles li:nth-child(1) { left: 25%; width: 80px; height: 80px; animation-delay: 0s; }
.circles li:nth-child(2) { left: 10%; width: 20px; height: 20px; animation-delay: 2s; animation-duration: 12s; }
.circles li:nth-child(3) { left: 70%; width: 20px; height: 20px; animation-delay: 4s; }
.circles li:nth-child(4) { left: 40%; width: 60px; height: 60px; animation-delay: 0s; animation-duration: 18s; }
.circles li:nth-child(5) { left: 65%; width: 20px; height: 20px; animation-delay: 0s; }
.circles li:nth-child(6) { left: 75%; width: 110px; height: 110px; animation-delay: 3s; }
.circles li:nth-child(7) { left: 35%; width: 150px; height: 150px; animation-delay: 7s; }
.circles li:nth-child(8) { left: 50%; width: 25px; height: 25px; animation-delay: 15s; animation-duration: 45s; }
.circles li:nth-child(9) { left: 20%; width: 15px; height: 15px; animation-delay: 2s; animation-duration: 35s; }
.circles li:nth-child(10) { left: 85%; width: 150px; height: 150px; animation-delay: 0s; animation-duration: 11s; }

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.wrapper {
    text-align: center;
}
.wrapper ul {
    display: inline-block;
    list-style-type: none;
}
.centered {
    margin-left: auto;
    margin-right: auto;
}
.img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5%;
    box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
}
.bottomline {
    border-bottom: 5px solid #ff8ac9;
}

#projects {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#projects td, #projects th {
    border: 1px solid #ddd;
    padding: 8px;
}
#projects tr:nth-child(even) {
    background-color: #f2f2f2;
}
#projects tr:hover {
    background-color: #ddd;
}
#projects th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff8ac9;
    color: white;
}

#email {
    background-image: url("../images/icons8-email-24.png");
    background-repeat: no-repeat;
    line-height: 24px;
    padding-left: 30px;
}
#github {
    background-image: url("../images/icons8-github-24.png");
    background-repeat: no-repeat;
    line-height: 24px;
    padding-left: 30px;
}
#linkedin {
    background-image: url("../images/icons8-linkedin-24.png");
    background-repeat: no-repeat;
    line-height: 24px;
    padding-left: 30px;
}
#youtube {
    background-image: url("../images/icons8-youtube-24.png");
    background-repeat: no-repeat;
    line-height: 24px;
    padding-left: 30px;
}

.links {
    list-style-type: none;
    padding-left: 5px;
}
.links a:link,
.links a:visited {
    color: #52002c;
    background-color: transparent;
    text-decoration: none;
}
.links a:hover {
    color: #ff8ac9;
    background-color: transparent;
    text-decoration: none;
}

.footer {
    bottom: 0;
    width: 100%;
    text-align: center;
}

.button {
    background-color: #ff8ac9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
